body {
    background-color: rgb(19 5 3);
    color: beige;
    font-family: "Josefin Sans", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0px;
}

button {
    background-color: rgb(61 61 22);
    color: beige;
    font-family: "Josefin Sans", system-ui;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    max-width: 70%;
    text-align:center;

}

img{
    max-width: 70%;
}
